.playground {
  display: flex;
  flex-direction: column;
  
  section {
    flex-grow: 1;
    background-color: rgba(154, 155, 255, .4);
    background-clip: border-box;
    background-origin: border-box;
    margin: 10px 20px;
    min-height: 100px;
    border-radius: 15px;
    padding: 15px;
  }

  /* PLAR Requirement 2.4.2 b) */
  section h3 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }
}