@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #393636;
  background-color: #393636;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  max-width: 1366px;
  background-color: white;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 900;
  font-family: 'Dela Gothic One';

  @media (max-width: 768px) {
    font-size: 1.75em;
  }
}

/* PLAR Requirement 2.4.2 d) */
a {
  font-weight: 500; 
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
    text-decoration: underline;
  }

  &:visited {
    color: purple;
  }

  &:active {
    color: red;
  }
}

.card {
  margin-bottom: 106px;
}